<br>
<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/asignatura/form']">Agregar</button>
</div>
<br>
<div class="card text-bg-secondary mb-3">
  <div class="card-header">Lista de Asignaturas</div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Denominacion</th>
          <th scope="col">Sigla</th>
          <th scope="col">Credito</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemAsignatura of listaAsignaturas" class="text-bg-secondary mb-3">
          <td>{{itemAsignatura.idasignatura}}</td>
          <td>{{itemAsignatura.denominacion}}</td>
          <td>{{itemAsignatura.sigla}}</td>
          <td>{{itemAsignatura.credito}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
